body {
  background-color: gray;
  align-items: center;
}

.head {
  /* background-color: black; */
  width: 1900px;
  position: center;
  text-align: center;

  /* background-color: black; */
}

h1 {
  color: green;
}

.image-Loud {
  background-image: url(../images/Loud.webp);
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: red; */
  width: 1900px;
  height: 700px;
}

.back-ASPAS {
  width: 300px;
  height: 300px;
  /* background-color: black; */
  position: absolute;
  left: 50px;
  top: 100px;
  text-align: center;
}

#audio {
  /* background-color: black; */
  position: absolute;
  right: 1px;
  top: 500px;
}

#titulo_audio {
  position: relative;
  top: 210px;
}

#ifram{
  position: relative;
  left: 500px;
}